body {
    background-color: #FFFAE3;
    margin: 2%;
}
#meuNome, #sobremim {
    font-family: Arial;
}
#meuNome {
    text-align: center;
}
#idade {
    background-color: #F7567C;
    color: white;
}
#habilidades {
    list-style-type: circle;
}
.git {
    font-size: 15px;
}
.html {
    font-size: 17px;
}
.css {
    font-size: 19px;
}
#minhaFoto {
    float: left;
    height: 180px;
    padding: 10px;
    background-color: #5D576B;
}
#sobreMim {
    position: absolute;
    font-size: 20px;
    top: 30%;
    right: 10%;
}
.imgDesc {
    height: 200px;
    position: relative;
}
ul li:nth-child(odd) {
    background-color: #99E1D9;
}