body {
    background-color: #FFFAE3;
}
h1 #titulo {
    font-family: Arial;
    text-align: center;
}
div #tudo {
    font-family: monospace;
}
#idade {
    background-color: #F7567C;
    color: white;
}
#cidade {
    color: gray;
}
#habilidades {
    list-style-type: circle;
    font-size: 15px;
}