body {
    background-color: #FFFAE3;
}
#meuNome, #sobremim {
    font-family: Arial;
}
#meuNome {
    text-align: center;
}
#idade {
    background-color: #F7567C;
    color: white;
}
#habilidades {
    list-style-type: circle;
}
.git {
    font-size: 15px;
}
.html {
    font-size: 17px;
}
.css {
    font-size: 19px;
}
#minhaFoto {
    float: left;
    height: 180px;
    padding: 10px;
    background-color: #5D576B;
}
.imgDesc {
    height: 200px;
}